:root{
	--dark: #16191c;
	--dark-x: #1e2126;
	--light: #ffffff;
}


/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

 
html{
  scroll-behavior: smooth;
}

body{
	/*background-color: var(--dark);*/
}


.bg-dark{
	background-color: var(--dark) !important;
}